<h3>View Employee Details</h3>
<div>

  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">First Namme</h5>
      <p class="card-text">{{employee.firstName}}</p>
    </div>
  </div>

  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Last Name</h5>
      <p class="card-text">{{employee.lastName}}</p>
    </div>
  </div>

  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Email</h5>
      <p class="card-text">{{employee.emailId}}</p>
    </div>
  </div>

  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Phone Number</h5>
      <p class="card-text">{{employee.phoneNumber}}</p>
    </div>
  </div>

</div>
